version: "3.7"

services:

  app:
    container_name: employee_service
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "pass"
      MYSQL_PORT: "3306"
      MYSQL_HOST: "localhost"
      DB_NAME: "employees"

    ports:
      - "80:80"
